* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  background-image: url(./img/photo_2023-12-02_14-45-59.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  background-position: center center;
  background-attachment: fixed;
}
.logo img {
  width: 60px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px cyan, 2px -2px 2px cyan, -2px 2px 2px cyan,
    -2px -2px 2px cyan;
}
form {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  border: solid #485761 2px;
  width: 400px;
  height: 600px;
  background-color: rgba(128, 54, 148, 0.29);
  border-radius: 30px;
  margin-top: 30px;
}
.button a {
  text-decoration: none;
  color: black;
  padding: 10px 150px;
  background-color: greenyellow;
  border-radius: 12px;
}
.button {
  margin-top: 15px;
}
.logo {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
h2 {
  text-align: center;
  color: white;
  margin-top: 15px;
  font-size: 22px;
}
.input-fullName,
.input-email,
.input-password {
  display: flex;
  justify-content: center;
}

.input-fullName input,
.input-email input,
.input-password input {
  border: none;
  outline: none;
  background: none;
  margin-top: 40px;
  margin-bottom: 25px;
  box-shadow: 8px 8px 8px #cbced1, -8px -8px 8px #ffffff;
  width: 320px;
  height: 35px;
  border-radius: 15px;
  padding: 0 10px;
  font-size: 20px;
  color: white;
}
::placeholder {
  color: white;
}
.input-email input,
.input-password input {
  margin-top: 10px;
}
.button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.under-text {
  display: flex;
  justify-content: center;
  margin-top: 4px;
}
.span-1 {
  color: #535c68;
}
@media (max-width: 990px) {
  form {
    width: 350px;
    height: 550px;
  }
  .logo img {
    width: 50px;
  }
  h2 {
    margin-top: 13px;
    font-size: 19px;
  }
  .input-fullName input,
  .input-email input,
  .input-password input {
    margin-top: 30px;
    margin-bottom: 18px;
    box-shadow: 5px 5px 5px #cbced1, -5px -5px 5px #ffffff;
    width: 290px;
    height: 33px;
    font-size: 18px;
  }
  .input-email input,
  .input-password input {
    margin-top: 10px;
  }
  .button {
    margin-top: 17px;
  }
  .button a {
    padding: 7px 130px;
  }
}
@media (max-width: 768px) {
  form {
    width: 310px;
    height: 510px;
  }
  .logo img {
    width: 45px;
  }
  h2 {
    margin-top: 11px;
    font-size: 17px;
  }
  .input-fullName input,
  .input-email input,
  .input-password input {
    margin-top: 24px;
    margin-bottom: 16px;
    box-shadow: 3px 3px 3px #cbced1, -3px -3px 3px #ffffff;
    width: 260px;
    height: 29px;
    font-size: 15px;
  }
  .input-email input,
  .input-password input {
    margin-top: 10px;
  }
  .button {
    margin-top: 17px;
  }
  .button a {
    padding: 5px 120px;
  }
}
@media (max-width: 575px) {
  form {
    width: 270px;
    height: 480px;
  }
  .logo img {
    width: 40px;
  }
  h2 {
    margin-top: 7px;
    font-size: 15px;
  }
  .input-fullName input,
  .input-email input,
  .input-password input {
    margin-top: 22px;
    margin-bottom: 17px;
    box-shadow: 1.5px 1.5px 1.5px #cbced1, -1.5px -1.5px 1.5px #ffffff;
    width: 220px;
    height: 27px;
    font-size: 12px;
  }
  .input-email input,
  .input-password input {
    margin-top: 10px;
  }
  .button {
    margin-top: 15px;
  }
  .button a {
    padding: 3.5px 100px;
  }
}
